a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #ffa31a;
}

a:active{
    color: crimson;
}

.container{
    width: 80%;
    margin: auto;

}

.button{
    padding: 5px 10px;
    background-color: #ffa31a;
    color: #292929;
    border: none;
}

.button:hover{
    background-color: #292929;
    color: #ffa31a;
}

.box-1{
    background-color: #464a48;
    color: #ffffff;

    border: 5px #ffa31a solid;

    /* padding spacing inside the box*/
    padding: 20px;

    /* margin spacing outside the box*/
    margin-top: 20px;
}

.box-1 h1{
    background-color: #ffa31a ;
    text-align: center;
    color: #292929;

    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:700;
    font-style: bold;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;

}

.categories{
    background-color: #464a48;
    color: #ffffff;
    border: 5px #ffa31a solid;

    /* padding spacing inside the box*/
    padding: 20px;

    /* margin spacing outside the box*/
    margin-top: 20px;
    border-radius: 15px;
    text-align: center;
}

.categories ul{
    padding:0;
    list-style: none;
}

.my-form{
    padding: 20px;
}

.form-group{
    padding-bottom: 20px;
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea{
    padding: 5px;
    width: 98%;
}

.block{
    float: left;
    width: 30%;
    border: 2px #ffa31a solid;
    padding: 10px;
    margin-top: 10px;
    margin-right:1.5%;
    margin-left: 1.5%;
    box-sizing: border-box;
}

#mainBlock{
    float: left;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
}

#sideBar{
    float: right;
    width: 30%;
    padding: 10px;
    box-sizing: border-box;
}